img{
   padding-top: 20px;
   padding-left: 120px;
}
li{
    font-size: x-large;
}
.desc{
    padding-top: 20px;
}
.t1{
    font-weight: bolder;
    text-decoration: underline;
    padding-top: 30px;
}
.IF{
    padding-top: 30px;
}
.df{
    padding-top: 50px;
}
p{
    font-size: x-large;
    padding-left: 20px;
}
.t2{
    font-weight: bolder;
    text-decoration: underline;
    padding-top: 30px;
}