img{
    width: 1300px;
    height: 200px;
    padding-left: 220px;
    padding-top: 100px;
}
p{
    font-size: xx-large;
    font-weight: bolder;
}
.t2{
    font-size: x-large;
}
.t3{
    padding-top: 20px;
    font-size: x-large;
}
.s1{
    width: 900px;
    height: 400px;
}