img{
    padding-top: 80px;
    padding-left: 150px;
}
h3{
    font-size: xx-large;
    text-decoration: underline;
}
.es{
    font-size: x-large;
    padding-top: 20px;
}
.se{
    padding-top: 30px;
    font-size: x-large;
}